@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlusJakarta';
  src: url('./assets/fonts/PlusJakartaSans-Regular.ttf');
}

body {
  font-family: 'PlusJakarta', sans-serif;
}
